:root{
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  --blue: #00aaff;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}
h1{
  font-size: 2.5rem;
  font-weight: bold;
}
.block{
  display: block;
}
.inline-block{
  display: inline-block;
}
.wrapper{
  display: flex;
  flex-direction: column;
}
.left{
  margin-top: -20px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100vh;
  background: #7D4097;
  background: -webkit-linear-gradient(top, #7D4097, #20B8EE);
  background: -moz-linear-gradient(top, #7D4097, #20B8EE);
  background: linear-gradient(to bottom, #7D4097, #20B8EE);
  box-shadow: black 0 0 10px;
}
.left, .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.spacing{
  margin-top: 20px;
}
.spacing-lg{
  margin-top: 30px;
}
.icon{
  height: 24px;
  width: 24px;
  margin-right: 5px;
  padding-left: 3px;
  padding-top: 3px;
}
.icon-container{
  border: solid 1px black;
  border-radius: 50%;
  padding: 5px;
  margin-right: 5px;
}
.input-box{
  padding: 15px 200px 10px 10px;
  background: #e6e6e6;
  border: solid 2px #e6e6e6;
  box-shadow: 3px 3px 3px -3px gray;
}
.btn{
  margin-top: 50px;
  padding: 15px 45px;
  border-radius: 25px;
  transition: transform 80ms ease-in;
  box-shadow: 0 0 6px black;
}
.btn:hover{
  transform: scale(1.15);
}
i:hover{
  transform: scale(1.15);
}
#sign-in{
  border: solid 1px var(--blue);
  background: var(--blue);
  color: white;
  font-weight: 550;
}
#sign-up{
  border: solid 2px var(--blue);
  background: var(--blue);
  color: white;
  font-weight: 550;
}
.left-text{
  color: white;
}
.bottom-spacing{
  margin-bottom: 50px;
}
.no-underline{
  text-decoration: none;
}
.hidden-div{
  display: none;
}
.small-white-txt{
  margin-top: 40px;
  color: white;
  font-size: 10px;
}
i{
  padding: 20px;
  border: solid 1px black;
  border-radius: 100%;
  margin: 5px;
  color: #2e2e2e;
}
.animate{
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}




@media screen and (min-width: 720px){
  .wrapper{
    flex-direction: row;
    height: 100vh;
  }
  .left{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}